.input-row {
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
}

.input-item-chips {
  flex-direction: column;
  width: 100%;
  margin-bottom: 2vh;
  flex: 15;
}

.input-item {
  width: 100%;
  margin-bottom: 2vh;
  padding: 1vh 1vw;
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  flex: 4;
}

.input-row input[name="age"] {
  flex: 1;
}

.input-row select[name="gender"],
.input-row select[name="country"],
.input-row input[name="city"] {
  flex: 2;
}

.buttons {
  display: flex;
  flex: 1;
}

.textfield {
  font-size: 2rem;
}
