.custom-button {
  background-color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: solid;
  border-color: #343a40;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 15rem;
  max-width: 100%;
  box-sizing: border-box;
}

.custom-button:hover {
  background-color: #0056b3;
}
